{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Album creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="form-control btn btn-info" style="width: 20vh" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('album_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
